<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
               
        <property name="url" value="jdbc:mysql://localhost:3306/cloudsort" />
        <property name="username" value="root" />
        <property name="password" value="m7urk" />
        
        <!--property name="url" value="jdbc:mysql://cloudsort.cxtckzcqtplc.us-east-1.rds.amazonaws.com:3306/cloudsort" />
        <property name="username" value="cloudsort" />
        <property name="password" value="m7urk" /-->
       
        
        <property name="initialSize" value="1" />
        <property name="maxActive" value="20" />
        <property name="maxIdle" value="5" />
        <property name="maxWait" value="20000" />  
        <property name="minIdle" value="2"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="10000"/>
        <property name="validationQuery" value="select 1 from dual"/>   
    </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.hbm2ddl.auto">verify</prop>
        <prop key="hibernate.show_sql">false</prop>
        <prop key="hibernate.connection.autocommit">true</prop>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
      </props>
    </property>
    
    <property name="annotatedClasses">
      <list>
        <value>com.statera.cloudsort.entity.Response</value>
        <value>com.statera.cloudsort.entity.Request</value>
        <value>com.statera.cloudsort.entity.Product</value>
        <value>com.statera.cloudsort.entity.Category</value>
        <value>com.statera.cloudsort.entity.Suggestion</value>
        <value>com.statera.cloudsort.entity.Config</value>
        <value>com.statera.cloudsort.entity.Qualification</value>
        <value>com.statera.cloudsort.entity.User</value>
        <value>com.statera.cloudsort.entity.Error</value>
      </list>
    </property>
  </bean>

  <bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor" autowire="byName" /><!--sessionFactory will get autowired-->

  <bean id="turkDaoTarget" class="com.statera.cloudsort.dao.TurkDAOHibernateImpl" autowire="byName" /><!--sessionFactory will get autowired-->
  <bean id="HITManager" class="com.statera.cloudsort.service.HITManager" autowire="byName" />
  <bean id="productManager" class="com.statera.cloudsort.service.ProductManager" autowire="byName" />
  <bean id="categoryLoader" class="com.statera.cloudsort.service.CategoryLoader" autowire="byName" />
  <bean id="ingestor" class="com.statera.cloudsort.service.Ingestor" autowire="byName" />
  <bean id="setup" class="com.statera.cloudsort.service.Setup" autowire="byName" />
  <bean id="answerParser" class="com.statera.cloudsort.service.AnswerParser" autowire="byName" />
  <bean id="qualificationManager" class="com.statera.cloudsort.service.QualificationManager" autowire="byName" />
  <bean id="statusManager" class="com.statera.cloudsort.service.StatusManager" autowire="byName" />
  <bean id="configManager" class="com.statera.cloudsort.service.ConfigManager" autowire="byName" />
  
  <bean id="turkDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.statera.cloudsort.dao.TurkDAO</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>turkDaoTarget</value>
      </list>
    </property>
  </bean>
  

</beans>
