<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
    <context-param>
    <param-name>contextConfigLocation</param-name>

    <param-value>/WEB-INF/spring.xml</param-value>
    <!--
      <param-value>/WEB-INF/applicationContext-hibernate.xml</param-value>
      <param-value>/WEB-INF/applicationContext-jpa.xml</param-value>
    -->

    <!--
      To use the JPA variant above, you will need to enable Spring
      load-time weaving in your server environment. See PetClinic's readme
      and/or Spring's JPA documentation for information on how to do this.
    -->
  </context-param>
  
  
    <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  
    <servlet>
    <servlet-name>cloudsort</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  

  <servlet>
    <servlet-name>hitresult</servlet-name>
    <servlet-class>com.satera.cloudsort.listener.HITResultServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>  

  <servlet>
    <servlet-name>category</servlet-name>
    <servlet-class>com.satera.cloudsort.listener.CategoryServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>  
    
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>com.satera.cloudsort.listener.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>  
        
  <servlet-mapping>
    <servlet-name>cloudsort</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cloudsort</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
    
    
  <servlet-mapping>
    <servlet-name>hitresult</servlet-name>
    <url-pattern>/hitresult</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>  
  
    
   <servlet-mapping>
    <servlet-name>init</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>  
   
  
</web-app>
