<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.hbm2ddl.auto">create</prop>
        <prop key="hibernate.connection.pool_size">1</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.connection.autocommit">true</prop>

        <!--MYSQL-->
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
        <prop key="hibernate.connection.url">jdbc:mysql://localhost/mturk</prop>
        <prop key="hibernate.connection.username">root</prop>
        <prop key="hibernate.connection.password"></prop>

      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>com.satera.cloudsort.entity.Track</value>
        <value>com.satera.cloudsort.entity.Record</value>
        <value>com.satera.cloudsort.entity.Artist</value>
        <value>com.satera.cloudsort.entity.ImageFile</value>
        <value>com.satera.cloudsort.entity.Category</value>
      </list>
    </property>
  </bean>

  <bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor" autowire="byName" /><!--sessionFactory will get autowired-->

  <bean id="musicDaoTarget" class="com.satera.cloudsort.dao.MusicDAOHibernateImpl" autowire="byName" /><!--sessionFactory will get autowired-->

  <bean id="musicDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.satera.cloudsort.dao.MusicDAO</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>musicDaoTarget</value>
      </list>
    </property>
  </bean>
  
  <bean id="categoryLoader" class="com.satera.cloudsort.service.CategoryLoader" autowire="byName" />

</beans>